Makefile
*.o
*.lo
config.h
config.log
config.status
doc/html/
libchomik.pc
src/.deps/
src/.libs/
src/chomik
src/lex.yy.c
src/libchomik.la
src/parser.c
src/parser.tab.c
src/parser.tab.h
src/scanner.c
src2/.deps/
src2/.libs/
src2/sdl_chomik
src3/.deps/
src3/.libs/
src4/.deps/
src4/.libs/
src4/http_chomik
src4/fancy_http_chomik
src3/libhttpchomik.la
libhttpchomik.pc
tests/*.trs
tests/*.log

